.container-fluid {
  background-color: #f2f2f2;
}

.con {
  border: 1px solid #f28322;
  padding: 25px;
  border-radius: 5px;
}
.form-group {
  input {
    padding: 15px;
    border: none;
    border-bottom: 1px solid #f28322;
  }
}

.sign-in-text {
  color: #f28322;
}

.welcome-text {
  color: #5681a6;
}
